@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face { font-family: 'Montserrat-bold';  src: url('../fonts/montserrat/montserrat/Montserrat-Bold.ttf') format('truetype'); font-style: normal;  }
@font-face {  font-family: 'Montserrat-Regular';  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'); font-style: normal;  }
@font-face {  font-family: 'Montserrat - Semi Bold';  src: url('../fonts/montserrat/montserrat/Montserrat-SemiBold.ttf') format('truetype');font-weight: bolder;font-style: normal;  }
@font-face { font-family: 'FontAwesome';  src: url('../fonts/font-awesome-4.7.0/fonts/FontAwesome.otf') format('truetype'); font-style: normal;  }

/*
*
*font-family: 'Montserrat', sans-serif;
*font-family: 'Roboto', sans-serif;
*/
body{
    margin:0;
    font-size: 14px;
    font-weight: 400;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
img{
    display: inline-block;
    max-width:100%;
    height:auto;
}
.section-title{
    
    letter-spacing: 1.4px;
    opacity: 0.9;
    font-size: 28px;
    color: #000000;
    font-family: "Montserrat - Semi Bold", sans-serif;
    text-transform: uppercase;
   
}
a{
    font-family: Montserrat,sans-serif;
}

.container{
    max-width: 1196px;
    margin-left:auto;
    margin-right:auto;
}
.wrap{
    position: relative;
}
.section-title{
    text-align: center;
    width: 55%;
    margin: 0 auto;
}


.sub-title{
    color: #434343;
    font-family: Montserrat ,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1px;
    text-transform: none;
}
.section-title h2{
    line-height: 40px;
}
.section-title span{
    margin-bottom: 1px;
    display: block;
}
/* header navigation*/
.header-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 16px 10px;
    margin: 0;
    background-color: #0058a5;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: transparent;
    color: #fff !important;
}
.mobile-show-menu{
    display: none;
}


.collapseing {
    display: none;
    position: absolute;
    width: 100%;
    background: currentColor;
    margin: 0;
    padding: 0;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 100;
    background: rgb(245, 248, 250);
}
.open {
    display: block;
}
.bd-links {
   padding: 0;
   margin: 0 auto;
   text-align: center;
}
.mobile-menu .mobile-menu__item{
    padding: 0 0 10px 0;
    border: 0;
    opacity: 1;
}
.mobile-menu .mobile-menu__item a{
    display: block;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #252525;
    padding: 0 0.5rem;
    line-height: 32px;
    margin: 0.625rem 0;
    border-bottom: 2px solid transparent;
}
.mobile-menu .mobile-menu__item:hover, .mobile-menu .mobile-menu__item:active,.mobile-menu .mobile-menu__item:focus {
    color: #000;
    background: #fff;

}
button.no-focus{
    outline: none;
}


.header-wrapper{
    position: fixed;
    content:'' ;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 54px 0 20px;
    transition: .3s;
}
.header-wrapper.sticky{
    padding: 20px 0 20px;
    background-color: #fff;
    border-bottom: 2px solid #80808057;
    transition: .3s;
}
.header-wrapper.sticky .logo{
    filter:invert(100%); 
}
.header-wrapper.sticky .nav-items{
    color: #000;
}

.nav li a {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration-line: none;
    font-weight: 400;
    padding: 0 15px;
}

.card-title{
color: #4a4747;
font-family: Montserrat,sans-serif;
font-size: 24px;
font-weight: 500;
}
.card-text{
    color: #5e5e5e;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}


.carusel-content {
    position: absolute;
    top: 43%;
    bottom: 0;
    left: 30%;
    right: 30%;
    z-index: 10;
}
.carousel-title{
    font-family: Montserrat,sans-serif;
    font-size: 49px;
    font-weight: 500;
    line-height: 53px;
    text-transform: uppercase;
    letter-spacing: 3.25px;
    margin-bottom: 48px;
}
a.carousel-btn {
    position: relative;
    text-shadow: 0 15px 32px rgba(0, 0, 0, 0.2);
    color: #fefefe;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    border: 2px solid #f8f9fa00;
    border-radius: 1px;
    padding: 5px 7px;
    letter-spacing: 1.35px;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    z-index: 20;        
}
a.carousel-btn:focus{
    box-shadow: none;
}
a.carousel-btn:hover{
    border-bottom: 2px solid#fefefebd;

    
}

  
/* SECTION SERVICE */
#service{
    position: relative;
    background: #efefef;
    padding: 102px 0 120px;
}
#service .section-title{
    margin-bottom: 30px;
    padding: 25px 5px;

}
.card-service{
  padding-bottom: 2rem;
}
.card-project,.card-service,.card-team,.card-blog{
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    transition: .3s;
}
.card-service{
    margin-top: 40px;
    text-align: center;
    vertical-align: middle;
    border: none;
}   
.card-team, #blog .section-content{
    margin-bottom: 20px;
    margin-top: 0;}   
.card-service:hover,.card-project:hover,.card-blog:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.38);
    transition: .3s;
}
.card-service .card-title{
    margin: 23px 0;
    color: #434343;
    font-family: "Montserrat - Semi Bold",sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.card-img-top{
    margin: 18px auto 23px auto;
    width: 55px;
    height: 50px;
    overflow: hidden; 
    text-indent: -9999px; 
    text-align: left;
}

.icon-dev {
    background: url('../img/css_sprites.png') -10px -75px;  
}
.icon-des { 
    background: url('../img/css_sprites.png') -85px -10px; 
}
.icon-soft{
    background: url('../img/css_sprites.png') -10px -10px;
}
/* SECTION PROJECTS */
#projects{
    background:#f8f8f8;
    padding: 120px 0;
}
#projects .section-title{
    margin-bottom: 28px;
}
#projects .section-content{
    margin-top: 24px;
}
#projects a{
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 1px; 
    text-transform: capitalize;
    margin-top: 79px;
}

#projects .sub-title {
    margin-top: 30px;
    padding: 0;
}
.card-project{
    position: relative;
    margin-bottom: 20px;
}
.card-project .card-img{
    width: 100%;
    height: 326px;
}

.btn-load{
    font-family: sans-serif;
    display: block;
    text-decoration: none;
    width: 183px;
    color: #fff;
    padding: 7px 18px;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #26af5f;
}
.btn-load:hover{
    color:#fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.47);
}
/* SECTION Team */
#team{
    position: relative;
    padding: 120px 0; 
}
#team .section-title{
    margin-bottom: 38px
}
#team .sub-title{
    margin-top: 14px;
    
}
#team .section-content{
    margin-top: 59px;
}
#team .card-hover{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f9f9f9b3;
    text-align: center;
    backface-visibility: hidden;
    transition: .3s;
}
#team .card-title{
    font-size: 18px;
}
#team .text-bottom{
    padding: 15px 5px;
}
#team .social .social-link{
    color: green;
    font-size: 16px;
    padding: 3px 5px;
    text-decoration: none;
}
#team .social .social-link:hover{
    color: #5e5e5e;
    font-size: 16px;
    padding: 3px 5px;
    text-decoration: none;
}
#team .card-team:hover{
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.45);
    transition: .3s;
}
#team .card-team:hover .card-hover{
display: block;
}
#team  .section-title span {
    margin-bottom: 4px;
    display: block;
}
/* SECTION testimonial */
#testimonial{
    position: relative;
    background: url('../img/Layer-539.png') center no-repeat;
    background-size: cover;
    padding: 120px 0;
}
#testimonial .section-content{
    width: 83.3%;
    margin: 0 auto;
}

.content{
    position: relative;
    z-index: 30px;
    padding: 21px 0;
    background: #ffffff;
    border-radius: 2px;
}
.wrap-picture{
    padding: 3px 0;
  }
  .picture, .picture div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 114px;
    height: 115px;
  }
  .picture {
    transform: rotate(45deg) translateY(-5px);
     border:4px solid green;
  }
  .picture .picture-rotate {
    width: 151px;
    height: 155px;
    transform: rotate(-45deg) translateY(-33px);
  }
  .picture .picture-rotate img {
    width: 100%;
    height: auto;
  }
.content .description{
    width: 73%;
    margin: 20px auto;
    text-align: center;
    color: #434343;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1.25px;
}
/*Карусел style*/
#carouselTestimonia .carousel-item{
    padding: 65px 0;
}
#carouselTestimonia .carousel-inner{
    margin-bottom: 12px;
}
#carouselTestimonia .carousel-indicators li{
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 16px;
    height: 16px;
    margin-right: -6px;
    margin-left: 17px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #5452523d;
    background-color: #26af5f;
    opacity: 0.5;
    transform: rotate(-45deg) translateY(-14px);
}
#carouselTestimonia .carousel-indicators{
    position: absolute;
    bottom: 21px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

#carousel .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: -11px;
    margin-left: 21px;
    text-indent: -999px;
    cursor: pointer;
    border: 2px solid #ffffff;
    background-color: #26af5f;
    opacity: 0.5;
    transform: rotate(-45deg) translateY(-28px);
}
#carouselTestimonia .carousel-indicators .active,#carousel .carousel-indicators li {
    background-color: #26af5f;
    opacity: 1;
}
.slider{
    position: relative;
}
.slider-indicators{
    bottom:52px;
    
}
#carousel .slider-indicators li{
    background-color: transparent;
    border: 2px solid #efefef;
    margin-left:30px;
  
}
#carousel .slider-indicators .active{
    border: 1px solid #efefef;
    background-color: green;
    opacity: 1;
}

/* SECTION partners */
#partners{
    position: relative;
    padding: 120px 0;
}

#partners img{
    filter: invert(100%);
    cursor: pointer;
}
#partners img:hover{
    filter: invert(50%);

}

/* SECTION BLOG */
#blog{
    background: #efefef;
    position: relative;
    padding: 94px 0 54px;
}
#blog .section-title{
    margin-bottom: 35px;
}
.card-blog .card-body{
    text-align: start;
}
.card-blog .card-title{
    margin-bottom: 30px;
}
.card-blog .card-title{
    margin-bottom: 30px;
}
.blog-details{
    margin: 20px 0;
    padding: 0 20px;
}
#blog .card-title{
    color: #4a4747;
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    font-weight: 500;  
    text-transform: lowercase;
    margin: 25px 0 0 0;
}
#blog .card-text{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 25px 0 0 0;
}
.blog-details .data,.blog-details .comment{
opacity: 0.5;
color: #000000;
font-family: Montserrat,sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 13.73px;
}
.data .icon,.comment .icon{
    color: #26af5e;
}
.data a,.comment a {
    color: #4a4747;
    text-decoration: none;
}


/* SECTION CONTACTS */
#contact{
    position: relative;
    background: url('../img/Layer-537.jpg') center no-repeat;
    background-size: cover;
    padding: 100px 0;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
#contact .title{
    color: #ffffff;
    font-family: "Montserrat - Semi Bold",sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    /* Text style for "D, on’t be" */
    letter-spacing: 1.78px; 
    margin-bottom:90px; 
}

.block-location{
    background: #ffffff;
    padding: 50px 70px 60px;
    flex-direction: column;
    border-radius: 3px;
}
.block-location .section-title{
   text-align: left;
   width: 100%;
    opacity: 0.8;
    color: #4a4747;
    margin-bottom: 60px;
}
.location .icon{
    text-align: center;
    color: #26af5e;
    font-size: 26px;
}
.location{
    cursor: pointer;
    margin-bottom: 40px;
}
.location-link{
    opacity: 0.8;
    color: #000000;
    line-height: 29.27px;
    letter-spacing: -0.4px;
}
.block-form{
    color: #fefefe;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
}
.form-group {
    position: relative;
    margin-bottom: 15px;
}
.block-form .form-control{
    background: none;
    border: none;
    border-bottom: 2px solid;
    border-color: #efefef;
    border-radius: 1px;
    box-shadow: none;
    padding: 0.4rem .7rem 0.3rem 2.7rem;
    font-size: 20px;
    color: #fefefe;
}
#form input::placeholder,#form textarea::placeholder {
    color: #fefefe;
  }
  

.form-group .btn-form{
    margin-top: 40px;
    color: #26af5f;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-form{
    width: 170px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    background-color: #ffffff;
  }
  input[type=text], textarea{
      color: #fffdfd;

  }
  input[type=text]:focus {
    border-color:none;
    color: #fff;
    opacity: 0.6;
    letter-spacing: 1.2px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.icon.positon-left{
    color: #dbdbdb;
    height: 2.25em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.25em;
    z-index: 4;
}
.icon .position-left i{
    color:#efefef;
}
.icon-name ,.icon-email,.icon-comment{
    font-size: 22px;
}
textarea{
    resize: none;
}
.invalid .form-control {
    border-color: #dc3545;
}

.invalid i{
    color: #dc3545;
}

#contact .columns{
    overflow: hidden;
    background: #fff;
    text-align: center;
    padding: 20px 5px;
}
/*  */
#contact .col{
    margin-bottom: 20px;
}
#contact .col .icon{
    font-size: 20px;
    color: green;
}
#contact .col .location-link{
    font-size: 16px;
}

/*  SECTION social-networks*/
#social-networks{
    position: relative;
    padding: 100px 0;  
}
#social-networks h2{
opacity: 0.8;
color: #000000;
font-family: Montserrat,sans-serif;
font-size: 50px;
font-weight: 700;
line-height: 40px;
text-transform: uppercase;
letter-spacing: 3.75px;
}
.social{
    margin-top: 20px;
}
.social a{
    font-size: 22px;
    padding: 5px 8px;
    text-decoration: none;
    color: #c0c0c0;
}
.social a:hover{
 color: #26af5e;;
}
/*FOOTTER*/
.footer{
    background: #000;
    
}
.inner-wrapper{
    text-align: center;
    padding: 54px;
    position: relative;
}
.copyright p{
    opacity: 0.8;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.6px;
}
.copyright p a{
    text-decoration: none;
    color: #4a4747;
}
